@model ConcultancyCRM.Models.LeadInfo
@using (Html.BeginForm("SaveComment", "LeadInfoes", FormMethod.Post))
{
    <input type="hidden" name="LeadInfoId" value="@Model.Id" />
    <div class="row mt-2">
        <label class="col-sm-3 mt-2">Status</label>
        <div class="col-sm-9">
            <select name="Status" class="form-control">
                <option value="0">Pending</option>
                <option value="1">Won</option>
                <option value="2">Lost</option>
                <option value="3">Hold</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <label class="col-sm-3">Comments</label>
        <div class="col-sm-9">
            <textarea type="text" name="Description" class="form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3"></label>
        <div class="col-sm-9">
            <button class="btn btn-success mt-2">
                <ion-icon name="save-outline"></ion-icon>
                Save
            </button>
        </div>
    </div>
}