@model ConcultancyCRM.Models.AssetsItemsAssigned
@{
    IList<Employee> Data = ViewBag.EmployeeID;
}

@using (Html.BeginForm("AssignItem", "Assets", FormMethod.Post))
{
    <input type="hidden" name="AssetsId" value="@Model.AssetsId" />
    <div class="row mt-2">
        <label class="col-sm-3">Employee</label>
        <div class="col-sm-9">
            <select id="drpEmpList" class="form-control" name="AssignedToId"
                asp-items="@(new SelectList(Data, "Id", "Name"))">
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <label class="col-sm-3">Assigned Date</label>
        <div class="col-sm-9">
            <input type="date" name="AssignedDate" class="form-control" />
        </div>
    </div>
    <div class="row mt-2">
        <label class="col-sm-3"></label>
        <div class="col-sm-9">
            <button class="btn btn-success">
                <ion-icon name="save-outline"></ion-icon>
                Save
            </button>
        </div>
    </div>
}