@model ConcultancyCRM.Models.AssetsCategory

@{
    var _ActiveSession = SessionHelper.GetSession(Context);
    ViewData["Title"] = "Create";
}
<h3 class="text-left">
    Assets Category Detail [@Model.Title]
    <div class="float-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
            <ion-icon name="create-outline"></ion-icon>
            Edit
        </a>
        <a asp-action="Index" class="btn btn-success">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h3>
<hr />
@Html.Raw(TempDataHelper.ShowMsg(TempData))
@Html.DisplayForModel()

