@model ConcultancyCRM.Models.AssestCategory

@{
    var _ActiveSession = SessionHelper.GetSession(Context);
    ViewData["Title"] = "Access Denied";
}
<h1 class="text-left">
    Access Denied
    <div class="float-end">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back
        </a>
    </div>
</h1>
<hr />
<h3>Block URL: @Html.Raw(Context.Request.Query)</h3>