@model ConcultancyCRM.Models.LeadInfo

@{
    ViewData["Title"] = "Delete";
}
<h3 class="text-left">
    Delete Lead Information
    <div class="float-end">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@(Model?.Id)">
            <ion-icon name="create-outline"></ion-icon>
            Edit
        </a>
        <a asp-action="Index" class="btn btn-success">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h3>
<hr />
<h3>Are you sure you want to delete this?</h3>
@Html.Raw(TempDataHelper.ShowMsg(TempData))
@Html.DisplayForModel()
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" value="Delete" class="btn btn-danger">
        <ion-icon name="trash-outline"></ion-icon>
        Delete
    </button>
</form>