@model ConcultancyCRM.Models.LeadInfo

@{
    ViewData["Title"] = "Details";
}
<h1 class="text-left">
    LeadInfo Details
    <div class="float-end">
        @if (Model.CanEdit(SessionHelper.GetSession(Context)))
        {
            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@(Model?.Id)">
                <ion-icon name="create-outline"></ion-icon>
                Edit
            </a>
        }
        @if (Model.CanDelete(SessionHelper.GetSession(Context)))
        {
            <a asp-action="Edit" class="btn btn-danger" asp-route-id="@(Model?.Id)">
                <ion-icon name="trash-outline"></ion-icon>
                Delete
            </a>
        }
        <a asp-action="Index" class="btn btn-secondary">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h1>
<hr />

<div>
    @Html.DisplayForModel()
</div>

