@model ConcultancyCRM.Models.Employee

@{
    ViewData["Title"] = "Delete";
}
<h1 class="text-left">
    Delete Employee [@Model.Name]
    <div class="float-end">
        <a asp-action="Index" class="btn btn-success">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h1>
<br />
<h3>Are you sure you want to delete this?</h3>
<div class="row">

    <div class="col-md-5">
        @Html.Raw(TempDataHelper.ShowMsg(TempData))
        @Html.DisplayForModel()
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
